.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 150px;
}
nav{
    flex: 1;
    text-align: left;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
   
}
nav ul li a{
    text-decoration: none;
    color: grey;
}
.btn{
    width: 150px;
    height: 45px;
    background-color: blue;
    color: white;
    float: right;
    margin: 0px;
    padding: 0px;
    border: 0px;
    }
.btz{
     width: 150px;
     height: 45px;
     background-color: blue;
     color: white;
     margin: 0px;
     padding: 0px;
     border: 0px;}

.bttn{ width: 150px;
    height: 45px;
    background-color: orange;
    color: black;
    float: right;
    margin: 0px;
    padding: 0px;
    border: 0px;}

.row{
    display: flex;
    height: 88%;
    align-items: center;
    font-size: 50px;
    margin-left: 100px;
    text-decoration: dimgray;
    background: lightyellow;
    margin: 0px;
}

.col{
    flex-basis: 50%;
}
.trust{
color: orange;
text-align: left;
}

.trusted{
flex: 1;
text-align: center;
}
.trusted ul li{
    background: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin-left: 35px;
}
.trusted ul li a{
    text-decoration: none;
    color: black;
}
.blue{
    background: rgb(1, 1, 31);
    color: white;
    font-size: 20px;
    height: 100px;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: lighter;
}

.matched{
    font-size: 50px;
    text-align: center;
    padding: 80px;    
    
}
.card {
    width: 500px;
    height: 270px;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background: grey;
    background-position: center;
    background-size: cover;
    text-align: justify;
}
    

.sales{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    color: dimgray;
    text-align: left;
 
}
.com{
    text-align: center;
    font-size: 40px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.v3-col{
    width: 500px;
    flex-basis: 50%;
}
.header-col{
    flex-basis: 50%;
    text-align: justify;
    font-size: 20px;
   
}

.learn{
    width: 150px;
    height: 45px;
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0px;
    border: 0px;
    float: left;
}
.case{
    width: 500px;
    height: 250px;
    text-align: justify;
    padding: 15px 25px;
    font-size: 20px;
}
.grow{
    text-align: justify;
    font-size: 30px;
    color: blue;
    padding: 50px;
}
.experts{
    text-align: justify;
    font-size: 25px;
    padding: 50px;
}
.experts ul li{
    background: white;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 30px;
    padding: 10px;
}
.experts ul li a{
    color: blue;
}
.image{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: green;
}
.image img{
    width: 400px;
    height: auto;
    object-fit: contain;
}

.hero {
    background: #f4f6fc;
    padding: 50px 150px;

}